@import "tailwindcss";
@import "tailugin";

@theme static {
  --radius-inherit: inherit;

  --font-sans:
    "Geist", ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui,
    Segoe UI, Inter, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --font-sans--letter-spacing: -0.05em;

  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
  --font-mono--letter-spacing: -0.05em;

  --color-surface: var(--color-white);

  --color-surface-primary: var(--color-taupe-800);
  --color-surface-secondary: --alpha(var(--color-black) / 4%);
  --color-surface-accent: --alpha(var(--color-black) / 4%);
  --color-surface-muted: --alpha(var(--color-black) / 4%);

  --color-surface-info: var(--color-blue-500);
  --color-surface-warning: var(--color-amber-500);
  --color-surface-success: var(--color-emerald-500);
  --color-surface-destructive: var(--color-red-500);

  --color-surface-sidebar: var(--color-taupe-50);
  --color-surface-sidebar-primary: var(--color-taupe-800);
  --color-surface-sidebar-accent: --alpha(var(--color-black) / 4%);

  --color-surface-input: --alpha(var(--color-black) / 10%);
  --color-surface-card: var(--color-white);
  --color-surface-popover: var(--color-white);

  --color-foreground: var(--color-taupe-800);

  --color-foreground-primary: var(--color-taupe-50);
  --color-foreground-secondary: var(--color-taupe-800);
  --color-foreground-accent: var(--color-taupe-800);
  --color-foreground-muted: color-mix(
    in srgb,
    var(--color-taupe-500) 90%,
    var(--color-black)
  );

  --color-foreground-info: var(--color-blue-700);
  --color-foreground-warning: var(--color-amber-700);
  --color-foreground-success: var(--color-emerald-700);
  --color-foreground-destructive: var(--color-red-700);

  --color-foreground-sidebar-primary: var(--color-taupe-50);
  --color-foreground-sidebar-accent: var(--color-taupe-800);
  --color-foreground-sidebar: color-mix(
    in srgb,
    var(--color-taupe-800) 64%,
    var(--color-surface-sidebar)
  );

  --color-foreground-card: var(--color-taupe-800);
  --color-foreground-popover: var(--color-taupe-800);

  --color-stroke: --alpha(var(--color-black) / 8%);
  --color-stroke-ring: var(--color-taupe-400);

  --color-stroke-sidebar: --alpha(var(--color-black) / 6%);
  --color-stroke-sidebar-ring: var(--color-taupe-400);

  --shadow-px: 0 0 0 1px var(--tw-shadow-color), 0 0 0 1px hsla(0, 0%, 98%, 1);
}

@layer base {
  @variant dark {
    --color-surface: color-mix(
      in srgb,
      var(--color-taupe-950) 96%,
      var(--color-white)
    );

    --color-surface-primary: var(--color-taupe-100);
    --color-surface-secondary: --alpha(var(--color-white) / 4%);
    --color-surface-accent: --alpha(var(--color-white) / 4%);
    --color-surface-muted: --alpha(var(--color-white) / 4%);

    --color-surface-info: var(--color-blue-500);
    --color-surface-warning: var(--color-amber-500);
    --color-surface-success: var(--color-emerald-500);
    --color-surface-destructive: color-mix(
      in srgb,
      var(--color-red-500) 90%,
      var(--color-white)
    );

    --color-surface-sidebar-primary: var(--color-taupe-100);
    --color-surface-sidebar-accent: --alpha(var(--color-white) / 4%);
    --color-surface-sidebar: color-mix(
      in srgb,
      var(--color-taupe-950) 97%,
      var(--color-white)
    );

    --color-surface-input: --alpha(var(--color-white) / 8%);
    --color-surface-card: color-mix(
      in srgb,
      var(--color-surface) 98%,
      var(--color-white)
    );
    --color-surface-popover: color-mix(
      in srgb,
      var(--color-surface) 98%,
      var(--color-white)
    );

    --color-foreground: var(--color-taupe-100);

    --color-foreground-primary: var(--color-taupe-800);
    --color-foreground-secondary: var(--color-taupe-100);
    --color-foreground-accent: var(--color-taupe-100);
    --color-foreground-muted: color-mix(
      in srgb,
      var(--color-taupe-500) 90%,
      var(--color-white)
    );

    --color-foreground-info: var(--color-blue-400);
    --color-foreground-warning: var(--color-amber-400);
    --color-foreground-success: var(--color-emerald-400);
    --color-foreground-destructive: var(--color-red-400);

    --color-foreground-sidebar-primary: var(--color-taupe-800);
    --color-foreground-sidebar-accent: var(--color-taupe-100);
    --color-foreground-sidebar: color-mix(
      in srgb,
      var(--color-taupe-100) 64%,
      var(--color-surface-sidebar)
    );

    --color-foreground-card: var(--color-taupe-100);
    --color-foreground-popover: var(--color-taupe-100);

    --color-stroke: --alpha(var(--color-white) / 6%);
    --color-stroke-ring: var(--color-taupe-500);

    --color-stroke-sidebar: --alpha(var(--color-white) / 6%);
    --color-stroke-sidebar-ring: var(--color-taupe-400);

    --shadow-px: 0 0 0 1px var(--tw-shadow-color), 0 0 0 1px hsla(0, 0%, 0%, 1);
  }

  * {
    @apply border-stroke outline-stroke-ring/50;
  }

  html {
    hyphens: auto;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    font-variant-numeric: tabular-nums slashed-zero;
    font-feature-settings:
      "tnum" 1,
      "zero" 1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
    overflow-wrap: anywhere;
    hanging-punctuation: first last;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-mono);
    font-feature-settings:
      "tnum" 1,
      "zero" 1,
      "liga" 1,
      "calt" 1;
  }
}

@layer utilities {
  .container {
    @apply max-w-2xl px-4 sm:px-6 mx-auto;
  }
}
